@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@font-face {
    font-family: 'Lemon-Milk-bold';
    src:url('fonts/Lemon-Milk-bold.ttf.woff') format('woff'),
        url('fonts/Lemon-Milk-bold.ttf.svg#Lemon-Milk-bold') format('svg'),
        url('fonts/Lemon-Milk-bold.ttf.eot'),
        url('fonts/Lemon-Milk-bold.ttf.eot?#iefix') format('embedded-opentype'); 
}
@font-face {
    font-family: 'lemonmilkregular';
    src: url('fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('fonts/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 0px;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
*:focus{
    outline: none;
}
body{
    overflow-x: hidden;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
:root {
    --black: #2f2f2f;
    --white: #fff;
    --green: #86c232;
}
.main {
    position: relative;
    min-height: 100vh;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    z-index: 999;
}
.navbar1 a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.25s;
}
.navbar1 a:hover {
    color: var(--green);
    letter-spacing: 3px;
}
.navbar1 ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar1 li {
    margin-left: 20px;
}
.navbar1 li a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.25s;
    margin-left: 20px;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style: none;
}
.navigation li a {
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation li a:hover {
    color: var(--green);
    letter-spacing: 3px;
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 1;
}
.content span {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 500;
    letter-spacing: 2px;
}
.content h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 13em;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    letter-spacing: 15px;
}
.content p {
    color: var(--white);
}
#left {
    position: relative;
    margin-right: 340px;
}
#right {
    position: relative;
    margin-left: 300px;
}
.btn {
    display: inline-block;
    background: rgb(28, 28, 28);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 30px;
    font-size: 1.25em;
    transition: 0.25s;
    letter-spacing: 2px;
    -webkit-box-shadow: 12px 12px 11px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 12px 12px 11px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 11px 2px rgba(0, 0, 0, 0.35);
}
.btn:hover {
    letter-spacing: 4px;
    background: var(--green);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5vh 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sci {
    display: flex;
}
.sci li {
    list-style: none;
}
.sci li a {
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}
.sci li a:hover {
    color: var(--green);
}
.dots {
    display: flex;
}
.dots .dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
.dots .dot.active {
    background: var(--green);
}
.sections {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px 100px;
    align-items: center;
    min-height: 100vh;
}
.sections h1 {
    color: var(--green);
}
.navbar li {
    position: relative;
    margin-left: 40px;
}
.navbar {
    position: fixed;
    top: 50%; right: 30px;
    transform: translateY(-50%);
    z-index: 1000;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    width: 200px;
    position: relative;
    text-align: right;
}
.navbar ul li .dot {
    color: #fff;
    display: block;
    padding: 5px 0;
}
.navbar ul li .dot span {
    display: inline-block;
    background: var(--green);
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-right: 30px;
    border-radius: 5px;
    transform: translateX(30px);
    opacity: 0;
}
.navbar ul li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}
.navbar ul li .dot span::before {
    content: '';
    position: absolute;
    top: 50%; right: 0;
    transform: translate(7px, -50%);
    border-left: 7px solid var(--green);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
}
.navbar ul li .dot::before,
.navbar ul li .dot::after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}
.navbar ul li .dot::before {
    height: 5px;
    width: 5px;
    border: 2px solid var(--white);
    right: -4px;
    top: 19px;
    transform: translateX(-50%);
}
.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before {
    border-color: var(--green);
    background: var(--green);
}
.navbar ul li .dot::after {
    height: 15px;
    width: 15px;
    border: 2px solid var(--green);
    right: -5px;
    transform: translateY(-50%) scale(0);
}
.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}
#contact h1 {
    font-family: 'lemonmilkregular';
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    padding-top: 8vh;
    position: relative;
    font-size: 3em;
    letter-spacing: 7px;
}
#contact h2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 3vh;
}
.contacts {
    list-style: none;
}
.contact-info {
    display: flex;
    justify-content: space-evenly;
}
.left-section {
    position: relative;
    text-align: center;
    width: 65vh;
    height: 75vh;
    display: block;
    line-height: 35px;
    margin-right: 10%;
}
.left-section h1 {
    margin-bottom: 7vh;
}
.left-section p {
    text-align: justify;
    text-align-last: center;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
}
.contact-form {
    display: block;
    width: 65vh;
    text-align: center;
    height: 75vh;
    -webkit-box-shadow: -12px 12px 11px 13px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -12px 12px 11px 13px rgba(0, 0, 0, 0.22);
    box-shadow: -12px 12px 11px 13px rgba(0, 0, 0, 0.22);
}
.contact-form input[type=text] {
    width: 75%;
    padding: 1.5vh 1vh;
    margin: 1.7vh 0;
    box-sizing: border-box;
    background: transparent;
    border: 0px solid;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    color: var(--white);
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.5s;
}
.contact-form input[type=text]:focus {
    border-bottom: 2px solid var(--green);
}
.contact-form input[type=button] {
    display: inline-block;
    background: rgb(28, 28, 28);
    color: var(--white);
    text-decoration: none;
    padding: 2vh 5vh;
    margin-top: 7vh;
    font-size: 1.25em;
    transition: 0.25s;
    letter-spacing: 3px;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 12px 12px 11px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 12px 12px 11px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 11px 2px rgba(0, 0, 0, 0.35);
}
.contact-form input[type=button]:hover {
    letter-spacing: 5px;
    background: var(--green);
}









#startups {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#startups h1 {
    font-family: 'lemonmilkregular';
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    padding-top: 8vh;
    position: relative;
    font-size: 3em;
    letter-spacing: 7px;
}
.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}
.container .card {
    position: relative;
    width: 450px;
    height: 600px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}
.container .card:hover {
    background: rgba(134, 194, 50, 0.5);
    cursor: pointer;
}
.container .card .content {
    padding: 20px;
    margin-bottom: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}
.container .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .card .content .imgBx img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content .contentBx h3 span {
    opacity: 1;
}
.container .card .sci-1 {
    position: absolute;
    bottom: 50px;
    display: flex;
}
.container .card .sci-1 li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.1s;
}
.container .card:hover .sci-1 li {
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci-1 li a {
    color: #fff;
    font-size: 24px;
}